In [326]:
import pandas as pd
import re

df = pd.read_excel("Placas_de_Video.xlsx")

display(df)

,marca,preco,parcela,desconto,frete,avaliacoes,estrelas
0,Placa de Vídeo RX 6600 CLD 8G ASRock AMD Radeo...,"R$ 1.599,90","À vista no PIX\nou até\n10x de R$ 188,22",-11%,Pago,(1103),5
1,Placa de Vídeo RX 7600 GAMING OC 8G AMD Radeon...,"R$ 1.999,99","À vista no PIX\nou até\n10x de R$ 235,29",-4%,Pago,(481),5
2,Placa de Vídeo RX 6750XT Gaming XFX Graphics C...,"R$ 2.599,99","À vista no PIX\nou até\n10x de R$ 305,88",-7%,Pago,(503),5
3,Placa de Vídeo RX 6650XT XFX Speedster SWFT210...,"R$ 1.879,99","À vista no PIX\nou até\n10x de R$ 221,17",0%,Pago,(237),5
4,Placa de Video RTX 4060 Infinity 2 Palit NVIDI...,"R$ 2.299,99","À vista no PIX\nou até\n10x de R$ 270,58",-7%,Pago,(99),5
...,...,...,...,...,...,...,...
489,Placa de Video 1Gb GT710 Ddr3 64bit Vga/Dvi/Hd...,"R$ 323,83","À vista no PIX\nou até\n10x de R$ 34,45",0%,Pago,0,0
490,"Placa de Vídeo AFOX GeForce GTX750TI, 2GB, GDD...","R$ 1.004,40","À vista no PIX\nou até\n10x de R$ 100,44",0%,Pago,0,0
491,Placa de Vídeo Gainward NVIDIA GeForce GTX 166...,"R$ 5.592,00","À vista no PIX\nou até\n10x de R$ 699,00",0%,Grátis,0,0
492,Adaptador Para Duas Fontes E Mineração Psuad 2...,"R$ 21,90","À vista no PIX\nou até\n1x de R$ 21,90",0%,Pago,0,0
493,Bloco VGA Barrow Para Rtx 3080 (ti) E Rtx 3090...,"R$ 599,00","À vista no PIX\nou até\n10x de R$ 59,90",0%,Pago,0,0

In [327]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   marca       494 non-null    object
 1   preco       494 non-null    object
 2   parcela     494 non-null    object
 3   desconto    494 non-null    object
 4   frete       494 non-null    object
 5   avaliacoes  494 non-null    object
 6   estrelas    494 non-null    int64
dtypes: int64(1), object(6)
memory usage: 27.1+ KB

None

In [328]:
df["preco"] = df["preco"].str.replace(r"[A-Za-zÀ-ÖØ-öø-ÿ-$]", "", regex=True)
df["parcela"] = df["parcela"].str.replace("À vista no PIX\nou até\n","")
df["avaliacoes"] = df["avaliacoes"].str.replace(r"[(-)]", "", regex=True)
df["avaliacoes"].fillna(0, inplace=True)

display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   marca       494 non-null    object
 1   preco       494 non-null    object
 2   parcela     494 non-null    object
 3   desconto    494 non-null    object
 4   frete       494 non-null    object
 5   avaliacoes  494 non-null    object
 6   estrelas    494 non-null    int64
dtypes: int64(1), object(6)
memory usage: 27.1+ KB

C:\Users\42645242880\AppData\Local\Temp\ipykernel_7012\529314793.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["avaliacoes"].fillna(0, inplace=True)

None

In [329]:
df['memoria'] = (
    df['marca']
      .str.extract(r'(\d+\s*[Gg][Bb])', flags=re.IGNORECASE, expand=False)
      .str.replace(r'\s+', '', regex=True)
      .str.upper()
)

df['tipo_memoria'] = (
    df['marca']
      .str.extract(r'((?:GDDR|DDR)\d|SSD)', flags=re.IGNORECASE, expand=False)
      .str.upper()
)

df['bits'] = (
    df['marca']
      .str.extract(r'(\d+\s*bits)', flags=re.IGNORECASE, expand=False)
      .str.replace(r'\s+', '', regex=True)
      .str.lower()
)


display(df)

,marca,preco,parcela,desconto,frete,avaliacoes,estrelas,memoria,tipo_memoria,bits
0,Placa de Vídeo RX 6600 CLD 8G ASRock AMD Radeo...,"1.599,90","10x de R$ 188,22",-11%,Pago,1103,5,8GB,GDDR6,NaN
1,Placa de Vídeo RX 7600 GAMING OC 8G AMD Radeon...,"1.999,99","10x de R$ 235,29",-4%,Pago,481,5,8GB,GDDR6,128bits
2,Placa de Vídeo RX 6750XT Gaming XFX Graphics C...,"2.599,99","10x de R$ 305,88",-7%,Pago,503,5,12GB,GDDR6,NaN
3,Placa de Vídeo RX 6650XT XFX Speedster SWFT210...,"1.879,99","10x de R$ 221,17",0%,Pago,237,5,8GB,GDDR6,NaN
4,Placa de Video RTX 4060 Infinity 2 Palit NVIDI...,"2.299,99","10x de R$ 270,58",-7%,Pago,99,5,8GB,GDDR6,NaN
...,...,...,...,...,...,...,...,...,...,...
489,Placa de Video 1Gb GT710 Ddr3 64bit Vga/Dvi/Hd...,"323,83","10x de R$ 34,45",0%,Pago,0,0,1GB,DDR3,NaN
490,"Placa de Vídeo AFOX GeForce GTX750TI, 2GB, GDD...","1.004,40","10x de R$ 100,44",0%,Pago,0,0,2GB,GDDR5,128bits
491,Placa de Vídeo Gainward NVIDIA GeForce GTX 166...,"5.592,00","10x de R$ 699,00",0%,Grátis,0,0,6GB,GDDR6,192bits
492,Adaptador Para Duas Fontes E Mineração Psuad 2...,"21,90","1x de R$ 21,90",0%,Pago,0,0,NaN,NaN,NaN
493,Bloco VGA Barrow Para Rtx 3080 (ti) E Rtx 3090...,"599,00","10x de R$ 59,90",0%,Pago,0,0,NaN,NaN,NaN

In [330]:
df['marca'] = df['marca'].str.lower()
marcas = ['asrock','gigabyte','xfx','palit','galax','nvidia','amd','msi', 'afox', 'xfx']

pattern = r'(' + '|'.join(marcas) + r')'

df['marca'] = df['marca'].str.extract(pattern, expand=False)

df['desconto'] = df['desconto'].str.replace(r'%', "")
df['desconto'] = df['desconto'].str.replace(r'-', "")
df['desconto'] = df['desconto'].astype(int)

display(df)

,marca,preco,parcela,desconto,frete,avaliacoes,estrelas,memoria,tipo_memoria,bits
0,asrock,"1.599,90","10x de R$ 188,22",11,Pago,1103,5,8GB,GDDR6,NaN
1,amd,"1.999,99","10x de R$ 235,29",4,Pago,481,5,8GB,GDDR6,128bits
2,xfx,"2.599,99","10x de R$ 305,88",7,Pago,503,5,12GB,GDDR6,NaN
3,xfx,"1.879,99","10x de R$ 221,17",0,Pago,237,5,8GB,GDDR6,NaN
4,palit,"2.299,99","10x de R$ 270,58",7,Pago,99,5,8GB,GDDR6,NaN
...,...,...,...,...,...,...,...,...,...,...
489,afox,"323,83","10x de R$ 34,45",0,Pago,0,0,1GB,DDR3,NaN
490,afox,"1.004,40","10x de R$ 100,44",0,Pago,0,0,2GB,GDDR5,128bits
491,nvidia,"5.592,00","10x de R$ 699,00",0,Grátis,0,0,6GB,GDDR6,192bits
492,NaN,"21,90","1x de R$ 21,90",0,Pago,0,0,NaN,NaN,NaN
493,msi,"599,00","10x de R$ 59,90",0,Pago,0,0,NaN,NaN,NaN

In [331]:
df["marca"].fillna("Sem marca", inplace=True)
df["preco"] = df["preco"].str.strip()
df['preco'] = df['preco'].str.replace(r'.', "")
df['preco'] = df['preco'].str.replace(r',', ".")
df['preco'] = df['preco'].astype("float")
df[['parcelas', 'valor_un_parcela']] = df['parcela'].str.extract(r'(\d+)x de R\$ ([\d\.,]+)')

df = df.drop(columns="parcela")

display(df)
display(df.info())

C:\Users\42645242880\AppData\Local\Temp\ipykernel_7012\565008420.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["marca"].fillna("Sem marca", inplace=True)

,marca,preco,desconto,frete,avaliacoes,estrelas,memoria,tipo_memoria,bits,parcelas,valor_un_parcela
0,asrock,1599.90,11,Pago,1103,5,8GB,GDDR6,NaN,10,"188,22"
1,amd,1999.99,4,Pago,481,5,8GB,GDDR6,128bits,10,"235,29"
2,xfx,2599.99,7,Pago,503,5,12GB,GDDR6,NaN,10,"305,88"
3,xfx,1879.99,0,Pago,237,5,8GB,GDDR6,NaN,10,"221,17"
4,palit,2299.99,7,Pago,99,5,8GB,GDDR6,NaN,10,"270,58"
...,...,...,...,...,...,...,...,...,...,...,...
489,afox,323.83,0,Pago,0,0,1GB,DDR3,NaN,10,"34,45"
490,afox,1004.40,0,Pago,0,0,2GB,GDDR5,128bits,10,"100,44"
491,nvidia,5592.00,0,Grátis,0,0,6GB,GDDR6,192bits,10,"699,00"
492,Sem marca,21.90,0,Pago,0,0,NaN,NaN,NaN,1,"21,90"
493,msi,599.00,0,Pago,0,0,NaN,NaN,NaN,10,"59,90"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   marca             494 non-null    object
 1   preco             494 non-null    float64
 2   desconto          494 non-null    int64
 3   frete             494 non-null    object
 4   avaliacoes        494 non-null    object
 5   estrelas          494 non-null    int64
 6   memoria           449 non-null    object
 7   tipo_memoria      428 non-null    object
 8   bits              186 non-null    object
 9   parcelas          494 non-null    object
 10  valor_un_parcela  494 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 42.6+ KB

None

In [332]:
df['memoria'] = df['memoria'].str.replace(r'GB', "")
df["memoria"] = df["memoria"].fillna(0)
df["memoria"] = df['memoria'].astype("int")
display(df)

,marca,preco,desconto,frete,avaliacoes,estrelas,memoria,tipo_memoria,bits,parcelas,valor_un_parcela
0,asrock,1599.90,11,Pago,1103,5,8,GDDR6,NaN,10,"188,22"
1,amd,1999.99,4,Pago,481,5,8,GDDR6,128bits,10,"235,29"
2,xfx,2599.99,7,Pago,503,5,12,GDDR6,NaN,10,"305,88"
3,xfx,1879.99,0,Pago,237,5,8,GDDR6,NaN,10,"221,17"
4,palit,2299.99,7,Pago,99,5,8,GDDR6,NaN,10,"270,58"
...,...,...,...,...,...,...,...,...,...,...,...
489,afox,323.83,0,Pago,0,0,1,DDR3,NaN,10,"34,45"
490,afox,1004.40,0,Pago,0,0,2,GDDR5,128bits,10,"100,44"
491,nvidia,5592.00,0,Grátis,0,0,6,GDDR6,192bits,10,"699,00"
492,Sem marca,21.90,0,Pago,0,0,0,NaN,NaN,1,"21,90"
493,msi,599.00,0,Pago,0,0,0,NaN,NaN,10,"59,90"

In [333]:
df['valor_un_parcela'] = df['valor_un_parcela'].str.replace(r',', ".")
df["parcelas"] = df["parcelas"].astype("int")
df["valor_un_parcela"] = df["valor_un_parcela"].astype("float")
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   marca             494 non-null    object
 1   preco             494 non-null    float64
 2   desconto          494 non-null    int64
 3   frete             494 non-null    object
 4   avaliacoes        494 non-null    object
 5   estrelas          494 non-null    int64
 6   memoria           494 non-null    int64
 7   tipo_memoria      428 non-null    object
 8   bits              186 non-null    object
 9   parcelas          494 non-null    int64
 10  valor_un_parcela  494 non-null    float64
dtypes: float64(2), int64(4), object(5)
memory usage: 42.6+ KB

None

In [334]:
df['bits'] = df['bits'].str.replace(r'bits', "")
df['bits'] = df['bits'].fillna(0)
df['bits'] = df['bits'].astype("int")

df['marca'] = df['marca'].str.upper()

df['tipo_memoria'] = df['tipo_memoria'].fillna("Sem Tipo")

df = df.rename(columns={'memoria': 'memoria_em_GB'})
df = df.rename(columns={'desconto': 'desconto_em_%'})

display(df)

,marca,preco,desconto_em_%,frete,avaliacoes,estrelas,memoria_em_GB,tipo_memoria,bits,parcelas,valor_un_parcela
0,ASROCK,1599.90,11,Pago,1103,5,8,GDDR6,0,10,188.22
1,AMD,1999.99,4,Pago,481,5,8,GDDR6,128,10,235.29
2,XFX,2599.99,7,Pago,503,5,12,GDDR6,0,10,305.88
3,XFX,1879.99,0,Pago,237,5,8,GDDR6,0,10,221.17
4,PALIT,2299.99,7,Pago,99,5,8,GDDR6,0,10,270.58
...,...,...,...,...,...,...,...,...,...,...,...
489,AFOX,323.83,0,Pago,0,0,1,DDR3,0,10,34.45
490,AFOX,1004.40,0,Pago,0,0,2,GDDR5,128,10,100.44
491,NVIDIA,5592.00,0,Grátis,0,0,6,GDDR6,192,10,699.00
492,SEM MARCA,21.90,0,Pago,0,0,0,Sem Tipo,0,1,21.90
493,MSI,599.00,0,Pago,0,0,0,Sem Tipo,0,10,59.90

In [335]:
df.to_excel("Placa_de_video_tratada.xlsx", index=False)